.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}

body {
  background: url("https://img.freepik.com/premium-vector/een-lichtblauwe-achtergrond-een-hemelsblauwe-achtergrund_851674-52.jpg?semt=ais_hybrid&w=740&q=80"); */
  background-attachment: fixed;
  background-position: center;
}

header {
  background-image: url("ijsblauwe-foto-achtergrond-plain.jpg");
  background-position: center;
  font-size: 400%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
  text-shadow: 5px 5px 7px #000000;
  align-items: center;
  background-repeat: no-repeat;
  height: 100px;
}

ul {
  background: #afafb3;
  padding: 10px;
}

ul li {
  background: #787878;
  padding: 5px;
  border: solid 2px white;
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}

section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}

section article {
  border: 3px solid black;
  border-radius: 20px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;  
}

footer {
  background: #2a04a726;
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}